In [46]:
# Including packages and using the packages required
using Pkg
Pkg.update()

In [47]:
Pkg.add("Queryverse")
Pkg.add("VegaDatasets")
Pkg.add("IndexedTables")
Pkg.add("DataFramesMeta")
Pkg.add("DataFrames")
Pkg.add("FileIO")
Pkg.add("CSV")
using DataFrames,CSV  # Using Libraries for dataframes and CSV in Julia

 Resolving package versions...
  Updating `C:\Users\Divya\.julia\environments\v1.1\Project.toml`
 [no changes]
  Updating `C:\Users\Divya\.julia\environments\v1.1\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\Divya\.julia\environments\v1.1\Project.toml`
 [no changes]
  Updating `C:\Users\Divya\.julia\environments\v1.1\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\Divya\.julia\environments\v1.1\Project.toml`
 [no changes]
  Updating `C:\Users\Divya\.julia\environments\v1.1\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\Divya\.julia\environments\v1.1\Project.toml`
 [no changes]
  Updating `C:\Users\Divya\.julia\environments\v1.1\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\Divya\.julia\environments\v1.1\Project.toml`
 [no changes]
  Updating `C:\Users\Divya\.julia\environments\v1.1\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\Divya\.julia\environments\v1.1\Project.toml`
 [no changes]
  Updating `C:\Users\Divya\.julia\environments\v1.1\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\Divya\.julia\environments\v1.1\Project.toml`
 [no changes]
  Updating `C:\Users\Divya\.julia\environments\v1.1\Manifest.toml`
 [no changes]

In [48]:
# Read CSV files and store the data into the variables as shown below

Crime = CSV.read("Crime.csv")
Education = CSV.read("Education.csv")
Unemployment_rate = CSV.read("unemployment_rate.csv")
AlcoholConsumption = CSV.read("AlcoholYearlyData.csv")
Temperature = CSV.read("Temperature.csv")

110×2 DataFrame
│ Row │ Year  │ Avg_temperature │
│     │ Int64 │ Float64         │
├─────┼───────┼─────────────────┤
│ 1   │ 1909  │ 12.39           │
│ 2   │ 1910  │ 12.46           │
│ 3   │ 1911  │ 11.95           │
│ 4   │ 1912  │ 11.33           │
│ 5   │ 1913  │ 11.57           │
│ 6   │ 1914  │ 11.58           │
│ 7   │ 1915  │ 11.94           │
│ 8   │ 1916  │ 12.99           │
│ 9   │ 1917  │ 12.8            │
│ 10  │ 1918  │ 11.81           │
⋮
│ 100 │ 2008  │ 12.86           │
│ 101 │ 2009  │ 12.29           │
│ 102 │ 2010  │ 13.07           │
│ 103 │ 2011  │ 12.83           │
│ 104 │ 2012  │ 12.45           │
│ 105 │ 2013  │ 13.33           │
│ 106 │ 2014  │ 12.79           │
│ 107 │ 2015  │ 12.75           │
│ 108 │ 2016  │ 13.44           │
│ 109 │ 2017  │ 13.15           │
│ 110 │ 2018  │ 13.41           │

In [49]:
# Merge these dataframes using inner join based on Year since that is the common column in each dataset

EducationUnemployment = join(Education,Unemployment_rate, kind = :inner, on = :Year,makeunique = true)
AlcoholTemperature = join(AlcoholConsumption, Temperature, kind = :inner, on = :Year,makeunique = true)
AllFactors = join(EducationUnemployment, AlcoholTemperature, kind = :inner, on = :Year,makeunique = true)
Crime_AllFactors = join(Crime, AllFactors, kind = :inner, on = :Year,makeunique = true)

8×6 DataFrame. Omitted printing of 2 columns
│ Row │ Year  │ Total.Offences │ TotalEnrolment │ UnemploymentRate │
│     │ Int64 │ Int64          │ Int64          │ Float64          │
├─────┼───────┼────────────────┼────────────────┼──────────────────┤
│ 1   │ 2007  │ 426384         │ 896200         │ 3.46667          │
│ 2   │ 2008  │ 431383         │ 852215         │ 4.0              │
│ 3   │ 2009  │ 451405         │ 865605         │ 5.825            │
│ 4   │ 2010  │ 426345         │ 860650         │ 6.15             │
│ 5   │ 2011  │ 406056         │ 791580         │ 5.975            │
│ 6   │ 2012  │ 376013         │ 778120         │ 6.375            │
│ 7   │ 2013  │ 360411         │ 765270         │ 5.75             │
│ 8   │ 2014  │ 350389         │ 764520         │ 5.4              │

In [50]:
# Writing this merged dataframe into csv file for further data operations using R language

CSV.write("MergedData.csv",  Crime_AllFactors, writeheader=true)

"MergedData.csv"